/* Footer */

.footer {
    display: flex;
    justify-content: space-between;
    border-top: 4px solid $footer-line-color;
    background-color:$background-color ;
    color: $footer-line-color ;
    padding: 4rem 6rem;
}

.footer a {
    color: $footer-line-color;
}

.footer .social {
    font-size: 2rem;
}