@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display&display=swap');

$background-color: #1d1b1b;

$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;
$title-color: #F48586;
$nav-color: #C9685F ;
$footer-line-color: #C9685F;
$p-color: #F48586;
$h-color: #C9685F;
$img-filter: grayscale(80%);
$line-color: #F48586;
