@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Playfair+Display&display=swap');

$background-color: #1d1b1b;

$header-font: 'Lato', sans-serif;
$main-font: 'Playfair Display', serif;
$title-color: #E81010;
$nav-color: #823D3D ;
$footer-line-color: #823D3D;
$p-color: #E81010;
$h-color: #823D3D;
$img-filter: grayscale(80%);